extends layout

block scripts
  script.
    const sessionId = '!{sessionId}';
  script(src='./javascripts/peerjs.min.js')
  script(src='./javascripts/psi_client.js', type='module')

block content
  h1= title
  p Messages
    ul#messages